@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #5044e6;
}

.reset-tw, .reset-tw *{
    all: revert !important;
}

.cl-drawerRoot {
  position: relative;
  z-index: 9999 !important;
}
